# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env

# Data files
data/raw_videos/
data/audio/
data/transcripts/
data/cleaned/
data/output/
data/chunks/
data/chunk_results/
data/memory/
data/review/

# Logs
logs/

# IDE
.idea/
.vscode/